body {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 55px;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}