@import 'breakpoints';
@import 'mixins';
@import 'general';

$color-mustard: #CCA361;
$color-tan: #FDF8F0;
$color-navy: #485867;
$color-lightblue: #D3E0D7;
$color-rust: #B0775B;
$color-flat-black: #707070;

.btn {
  &-mustard {
    background-color: $color-mustard;
    color: white;
    text-transform: uppercase;
  }
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 12px;
  transition: .3s;
  margin-bottom: 30px;

  &:hover {
    background-color: black;
  }
}

.badge {
  max-width: 150px;
  padding-bottom: 15px;
}

.lockup {
  text-align: center;
  z-index: 2;

  @include md {
    text-align: left;
  }

  img {
    width: 100%;
    text-align: center;
  }
}


.copy {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;

  p {
    color: $color-flat-black;
  }

  @include md {
    padding-top: 30px;
    text-align: left;
    max-width: initial;
    margin: initial;
  }
}

.section-logo {
  text-align: center;
  background-color: $color-navy;
  position: relative;

  .logo {
    padding: 30px;
  }
  
  img {
    max-width: 150px;
  }
}

.blobs-container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -8px;
  overflow: hidden;

  @include sm {
    width: 102%;
  }

  @include md {
    width: 100%;
    margin: 0;
  }

  .blob {
    position: relative;
    z-index: 0;
  }
}

.blobs-half {
  position: absolute;

  .blob {
    position: relative;
  }
}

.dark {
  background-color: $color-navy;
  color: white;
}

.section-unlock-meaningful-conversation {
  z-index: 1;
  margin-top: -1px;
  position: relative;

  .couples-lockup {
    max-width: 80%;
    margin-bottom: -280px;

    @include md {
      margin-bottom: -170px;
    }
  }

  p {
    color: $color-lightblue;
  }

  .blobs-half {
    z-index: -1;
  }

  .blob-1 {
    max-width: 250px;
    top: -490px;
    left: -130px;

    @include md {
      max-width: 450px;
      top: -200px;
      left: -260px;
    }
  }

  .blob-2 {
    float: right;
    max-width: 220px;
    bottom: -350px;
    right: -60px;

    @include md {
      max-width: 310px;
      bottom: -250px;
      right: -90px;
    }
  }

  .dots-1 {
    float: right;
    right: -150px;
    top: 110px;

    @include md {
      float: right;
      right: -210px;
      top: 450px;
    }
  }
}

.section-create-your-own-collections {
  background-color: $color-tan;
  z-index: 2;
  padding-top: 200px;

  @include md {
    padding-top: 140px;
  }

  .copy {
    padding-top: 100px;

    @include md {
      padding-top: 150px;
    }
  }

  .blob-1 {
    max-width: 200px;
    top: 90px;
    left: -110px;

    @include md {
      max-width: 320px;
      top: 50px;
      left: -60px;
    }
  }

  .blob-2 {
    max-width: 60%;
    top: -200px;
    left: -110px;

    @include md {
      max-width: 65%;
      top: -440px;
      left: -60px;
    }
  }

  .collections-lockup {
    right: -20px;
    position: relative;
    width: 110%;

    @include md {
      right: 0;
      width: 100%;
    }
  }

  .lockup {
    position: relative;
    overflow: hidden;

    @include md {
      overflow: initial;
    }
  }
}

.section-build-deeper-bonds {
  background-color: $color-tan;
  position: relative;
  overflow: hidden;

  @include md {
    padding-top: 30px;

    .copy {
      padding-top: 150px;
    }
  }

  .blob-1 {
    max-width: 90%;
    right: -120px;
    top: 0px;

    @include md {
      max-width: 30%;
      right: 0px;
      top: -10px;
    }
  }

  .dots-1 {
    max-width: 70%;
    left: -165px;
    top: -40px;

    @include md {
      max-width: 25%;
      left: -605px;
      top: 150px;
    }
  }

  .deeper-bonds-lockup {
    left: -40px;
    position: relative;
    width: 110%;

    @include md {
      left: 0;
      width: 100%;
    }
  }

  .lockup {
    overflow: hidden;
  }
}

.section-dont-miss-out {
  text-align: center;

  .email-form-grid {
    width: 100%;
    margin: auto;

    @include md {
      width: initial;
    }
  }

  .email-form-wrapper {
    @include md {
      margin: 0 auto;
    }
  }

  input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    padding: 15px;
    border-radius: 25px;
    border: 0;
    width: 80%;
    height: 20px;
    text-transform: uppercase;
    text-align: center;
    
    @include md {
      text-align: left;
      width: 80%;
      margin-bottom: 40px;
      vertical-align: top;
    }
  }

  input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    border-radius: 35px;
    width: 150px;
    background: $color-rust;
    border: 0;
    height: 48px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;

    @include md {
      width: 100px;
      height: 44px;
      margin-top: 3px;
      margin-left: -108px;
      -webkit-appearance: none;
      margin-bottom: 0;
    }
  }
}